

.center {
    display: flex;
    justify-content: center;
    /* color: green; */
}

.topMargin {
    margin-top: 10%;
}

.btn {
    font-size:30px
}

.box {
    height : 70px;
    width : 70px;
    margin : 7px
}

.status {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 5px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.game-info button {
    margin-bottom: 10px;
    width: 250px;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.game > div {
    margin: 50px;
}

ul {
    list-style-type: none;
}